<p id="notice"><%= notice %></p>

<h1>Requetes</h1>
<div class="row">
  <div class="col-md-4">
  <table class="table">
    <% @requetes.each do |requete| %>
      <tr>
        <td><%= requete.nom %></td>
        <td>
        <%= link_to 'Edit', edit_requete_path(requete), class: "btn btn-xs btn-default"  %>
        <%= link_to 'Destroy', requete, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-default"%>
        </td>
      </tr>
    <% end %>
</table>
</div>
</div>


